# Ignore the contents of the _site directory
_site/

# Ignore the directory for local files during development
local/

# Ignore the Gemfile that is generated
Gemfile.lock

# Ingore files created by npm
node_modules
package-lock.json

#prevent ignoring of pdfs
!_posts/stoch_simulation_figures/stoch_simulation_comparison.pdf
